.slide-in{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $main-color;
  transform-origin: left;
  z-index: 2000;
}

.slide-out{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $main-color;
  transform-origin: right;
  z-index: 2000;
}