.main {
    min-width: 60%;
    max-width: 100%;
    /* padding: 1000;
    margin-left: 1000; */
    padding: 0 20px;
    margin: 0 auto;
    height: 260px;
    /* transform: rotate(-65deg); */
  }
  
  .transitionsItem {
    overflow: hidden;
    width: 100%;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 4em;
    font-weight: 800;
    text-transform: uppercase;
    will-change: transform, opacity, height;
    white-space: nowrap;
    cursor: pointer;
    line-height: 80px;
  }
  
  .container_animated_text {
    display: flex;
    align-items: flex-end;
    height: 100vh;
    justify-content: flex-end;
  }
  